<p id="notice"><%= notice %></p>



<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>


<div id="fromage">Hello</div>
<div id="vin">Bye</div>

<div class="roger">Loremmm</div>

<div class="naruto">Narutoo1</div>
<div class="naruto">Narutoo2</div>
<div class="naruto">Narutoo3</div>
<div class="naruto">Narutoo4</div>

<hr>

<div class="openclassroom">
    <p class="random">
      <span><a href="#">link 1</a></span>
    </p>

    <p class="notrandom">
      <span><a href="#">link 2</a></span
    </p>
</div>

<div id="main">Hello</div>

<%= javascript_pack_tag 'hello'%>
